<div class="form-group">
	<label class="control-label" data-dojo-attach-point='labelnode' for="TBD"></label>
	<div class="mx-referenceselector" data-dojo-attach-point='selectornode' id="TBD" focusindex="0">
		<div class="mx-referenceselector-input-wrapper">
			<select class="form-control" data-dojo-attach-point='selectnode' id="TBD">
				<option value="" data-dojo-attach-point='emptyvalue'/>
			</select>
			<p class="form-control-static" data-dojo-attach-point='viewnode' id="TBD"></p>
		</div>
	</div>
</div>